@page
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Dev_Blog.Models.User> SignInManager
@model Dev_Blog.Pages.Status.PostsModel
@{
    ViewData["Title"] = "Updates";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Posts.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main>
        <div class="container">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.Name == Model.AdminUser)
                    {
                        <a id="add-post" class="btn btn-primary" asp-page="Add">Add Post</a>
                    }
                }
                if (Model.Posts != null)
                {
                    foreach (var post in Model.Posts)
                    {
                        <div class="card">
                            <div class="card-header">
                                <span>
                                    Update
                                    <strong>@post.UpdateNum</strong>
                                </span>
                                <div class="float-right">
                                    <strong>@post.Date.ToShortDateString()</strong>
                                    @if (User.Identity.Name == Model.AdminUser)
                                    {
                                        <form method="post" class="delete-form">
                                            <input hidden asp-for=@post.Id>
                                            <button asp-page-handler="Delete" type="submit">
                                                @{ await Html.RenderPartialAsync("../Icons/_TrashIcon");}
                                            </button>
                                            <a class="nav-link" asp-route-id=@post.Id asp-page="Edit">
                                                @{ await Html.RenderPartialAsync("../Icons/_EditIcon");}
                                            </a>
                                        </form>
                                    }
                                </div>
                            </div>
                            <div class="card-body">
                                <img class="update-img" src=@post.ImgURL />
                                <p>@post.Description</p>
                            </div>

                            @if (post.Comments != null)
                            {
                                foreach (var item in post.Comments)
                                {
                                    <div class="posted-comments comment-box" style="padding: 7.5px">
                                        <p>@item.UserName - @item.Date.ToString("MM/dd/yyyy hh:mm tt")
                                        <p>@item.Content</p>
                                    </div>
                                }
                            }
                            <div class="comment-box form-group">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form method="post">
                                        <textarea asp-for=@Model.Comment class="form-control" placeholder="comment..." rows="2" id="comment"></textarea>
                                        <input hidden asp-for="@post.Id" />
                                        <button class="btn btn-secondary" type="submit" asp-page-handler="Comment">Comment</button>
                                    </form>
                                }
                                else
                                {
                                    <textarea class="form-control" placeholder="Login in to leave comments"></textarea>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </main>
</body>