@page
@model Dev_Blog.Pages.Status.PostsModel
@{
    ViewData["Title"] = "Updates";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Posts.css" />
    <title>Status</title>
</head>
<body id="bootstrap-override">
    <main>
        <div id="theTest">
        </div>
        <div class="container">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.Name == Model.AdminUser)
                    {
                        <a id="add-post" class="btn btn-primary" asp-page="Add">Add Post</a>
                    }
                }
                if (Model.Posts != null)
                {
                    <!-- All Posts -->
                    int idx = 0;
                    string formId = "";
                    foreach (var post in Model.Posts)
                    {
                        formId = "form" + idx;
                        <div class="card">
                            <div class="card-header">
                                <span>
                                    Update
                                    <strong>@post.UpdateNum</strong>
                                </span>
                                <div class="float-right">
                                    <strong>@post.Date.ToShortDateString()</strong>

                                    <!-- Delete post form -->
                                    @if (User.Identity.Name == Model.AdminUser)
                                    {
                                        <form method="post" class="delete-form">
                                            <input hidden asp-for=@post.Id>
                                            <button asp-page-handler="Delete" type="submit">
                                                @{ await Html.RenderPartialAsync("../Icons/_TrashIcon");}
                                            </button>
                                            <a class="nav-link" asp-route-id=@post.Id asp-page="Edit">
                                                @{ await Html.RenderPartialAsync("../Icons/_EditIcon");}
                                            </a>
                                        </form>
                                    }
                                </div>
                            </div>

                            <!-- Post Information -->
                            <div class="card-body text-center">
                                <img class="update-img" src=@post.ImgURL />
                                <p>@post.Description</p>
                                <div class="text-left">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                </div>
                            </div>

                            @if (post.Comments != null)
                            {
                                foreach (var comment in post.Comments)
                                {
                                    <!--Delete Comment Button-->
                                    <div class="posted-comments comment-box">
                                        <span class="comment-username">@comment.UserName</span>
                                        <div class="float-right">
                                            <span>@comment.Date.ToString("MM/dd/yyyy hh:mm tt")</span>
                                            <form method="post" class="delete-form">
                                                @if (User.Identity.Name == Model.AdminUser)
                                                {
                                                    <input hidden asp-for=@comment.Id>
                                                    <button type="submit" asp-page-handler="DeleteComment">
                                                        @{ await Html.RenderPartialAsync("../Icons/_TrashIcon");}
                                                    </button>
                                                }
                                            </form>
                                        </div>
                                        <p>@comment.Content</p>
                                    </div>
                                }
                            }
                            <!-- Comment Box -->
                            <div id=@formId class="comment-box form-group">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form>
                                        <textarea asp-for=@Model.Comment.Content class="form-control" placeholder="comment.." rows="2"></textarea>
                                        <input hidden asp-for="@post.Id" value=@post.Id />
                                        <button class="btn btn-secondary" value=@idx>Comment</button>
                                    </form>
                                }
                                else
                                {
                                    <textarea class="form-control" placeholder="Login in to leave a comment.."></textarea>
                                }
                            </div>
                        </div>
                        idx++;
                    }
                }
            }
        </div>
    </main>
    <script src="~/js/Posts.js" type="text/javascript"></script>
    <script>
        // post comment ajax call
        $(document).ready(function () {

            // grab the correct ID
            var idx;
            $("button").on("click", function (e) {
                idx = $(this).attr('value');

                var CommentVM = {
                    PostId: parseInt($(`#form${idx} input`).val()),
                    Content: $(`#form${idx} textarea`).val()
                }

                $(`#form${idx} textarea`).val("");

                // ajax call to post comment to database
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    url: '@Url.Action("PostComment", "Ajax")',
                    data: JSON.stringify(CommentVM),
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        console.log("Success");
                        console.log(status);
                        renderComment(data, idx);
                    },
                    error: function (hxr, status, error) {
                        console.log("ERROR");
                    }
                });

                e.preventDefault();
            });

            // new comment to render to page
            var renderComment = function (comment, idx) {
                $(`#form${idx}`).before(
                    $(`<div class="posted-comments comment-box">` +
                        `<span class="comment-username">${comment.UserName}</span>` +
                        `<div class="float-right">` +
                        `<span>${comment.Date}</span>` +
                        `</div>` +
                        `<p>${comment.Content}</p>` +
                        `</div>`
                    )
                );
            }
        });
    </script>
</body>