@page "/"

@using DevBlog_BlazorServer.Models
@inject DevBlog_BlazorServer.Interfaces.IPostService _posts
<!-- LATEST POST -->
<p>@latestPost.UpdateNum</p>
<p>@latestPost.Date.ToShortDateString()</p>
<img src=@latestPost.ImgURL />
<p>@latestPost.Description</p>
<button class="glyphicon glyphicon-thumbs-up"></button>
<span>@latestPost.UpVotes</span>
<button class="glyphicon glyphicon-thumbs-down"></button>
<span>@latestPost.DownVotes</span>

<!-- YOUTUBE LINK -->
<div>
    @*<iframe src="#"></iframe>*@
    <h2>
        YouTube Channel
        <br /><br />
        Coming Soon
    </h2>
</div>

<!-- SUGGESTION BOX -->
<div>
    <a href="mailto:devmaster@thedevblog.net?subject=Suggestion">
        <button>
            <h4>Have a suggestion? Send an email!</h4>
        </button>
    </a>
</div>

@code {
    PostModel latestPost;

    protected override async Task OnInitializedAsync()
    {
        var posts = await _posts.GetPosts();
        latestPost = posts.First().Value;
    }
}