@page "/posts"

@using DevBlog_BlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject DataLibrary.Interfaces.IDataAccess _data
@inject IConfiguration _config

@{
    foreach (var post in posts)
    {
        <div style="margin-top: 20px; border: 2px solid red;">
            <p>@post.UpdateNum</p>
            <p>@post.Date.ToShortDateString()</p>
            <img src=@post.ImgURL />
            <p>@post.Description</p>
            <button class="glyphicon glyphicon-thumbs-up"></button>
            <span>@post.UpVotes</span>
            <button class="glyphicon glyphicon-thumbs-down"></button>
            <span>@post.DownVotes</span>
        </div>
    }
}

@code {
    List<PostModel> posts;
    protected override async Task OnInitializedAsync()
    {
        posts = await _data.LoadData<PostModel, dynamic>("post", new { }, _config.GetConnectionString("DevBlogDB"));
        posts.Reverse();
    }
}