@page "/posts"

@using DevBlog_BlazorServer.Models
@using Microsoft.Extensions.Configuration
@using Dapper
@using System.Data
@using MySql.Data.MySqlClient
@using Slapper
@inject DataLibrary.Interfaces.IDataAccess _data
@inject IConfiguration _config
@inject DevBlog_BlazorServer.Interfaces.IPostService _posts

@{
    foreach (var post in posts)
    {
        <!-- Render Posts -->
        <div style="margin-top: 20px; border: 2px solid red;">
            <p>@post.Value.UpdateNum</p>
            <p>@post.Value.Date.ToShortDateString()</p>
            <img src=@post.Value.ImgURL />
            <p>@post.Value.Description</p>
            <button class="glyphicon glyphicon-thumbs-up"></button>
            <span>@post.Value.UpVotes</span>
            <button class="glyphicon glyphicon-thumbs-down"></button>
            <span>@post.Value.DownVotes</span>

            <!-- Render Comments -->
            <div>
                @{
                    if (post.Value.Comments[0] != null)
                    {
                        foreach (var comment in post.Value.Comments)
                        {
                            <span>@comment.UserName</span>
                            <span>
                                @comment.Date.ToString("MM/dd/yyyy hh:mm tt")
                            </span>
                            <p>@comment.Content</p>
                        }
                    }
                }
            </div>
        </div>
    }
}

@code {
    Dictionary<int, PostModel> posts;
    protected override async Task OnInitializedAsync()
    {
        posts = await _posts.GetPosts();
    }
}