@inherits Posts

<div>
    <button @onclick="@(e => NavTo("prev"))">PREV</button>
    @for (int i = 0; i < TotalPgs; i++)
    {
        var pgNum = i;
        <button style="background-color: @(CurrentPg == pgNum ? "#382424" : "#845555")" @onclick="@(e => UpdateList(pgNum))">
            @(i + 1)
        </button>
    }
    <button @onclick="@(e => NavTo("next"))">NEXT</button>
</div>