@page "/posts"

@using BlazorServer.Models
@using System.Security.Claims

@inject Interfaces.IPosts _posts
@inject Interfaces.IComments _comments
@inject Interfaces.IVotes _votes
@inject AuthenticationStateProvider Auth
@inject Data.AppDbContext DB
@inject IJSRuntime JS

@if (posts == null)
{
    <p>Loading...</p>
}
else
{
    <!-- Add Post -->
    <AuthorizeView Policy="Admin">
        <NavLink href="/addpost/"> Add Post </NavLink>
    </AuthorizeView>

    <!-- Render Posts -->
    @foreach (var post in posts)
    {
        <div style="margin-top: 20px;">
            <div>
                <span>@post.UpdateNum</span>
                <span>@post.Date.ToShortDateString()</span>

                <!-- Delete / Edit Post -->
                @{string editUrl = $"/editpost/{post.Id}/"; }
                <AuthorizeView Policy="Admin">
                    <NavLink href=@editUrl> <EditIcon /> </NavLink>
                    <button @onclick="() => DeletePost(post.Id)">
                        <TrashIcon />
                    </button>
                </AuthorizeView>
            </div>

            <img src=@post.ImgURL />
            <p>@post.Description</p>

            <!-- Voting System -->
            <AuthorizeView>
                <Authorized>
                    <div>
                        <button @onclick="async () => await _votes.UpVote(post.Id, user.Identity.Name)" class="glyphicon glyphicon-thumbs-up"></button>
                        <span>@post.UpVotes.Count</span>
                        <button @onclick="async () => await _votes.DownVote(post.Id, user.Identity.Name)" class="glyphicon glyphicon-thumbs-down"></button>
                        <span>@post.DownVotes.Count</span>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div>
                        <button class="glyphicon glyphicon-thumbs-up"></button>
                        <span>@post.UpVotes.Count</span>
                        <button class="glyphicon glyphicon-thumbs-down"></button>
                        <span>@post.DownVotes.Count</span>
                        <span>Login in to Like / Dislike</span>
                    </div>
                </NotAuthorized>
            </AuthorizeView>

            <!-- Render Comments -->
            <div>
                @if (post.Comments != null)
                {
                    foreach (var comment in post.Comments)
                    {
                        <div>
                            <span>@comment.UserName</span>
                            <span> @comment.Date.ToString("MM/dd/yyyy hh:mm tt") </span>

                            <!-- Delete / Edit Comment -->
                            <AuthorizeView Policy="Admin">
                                <button @onclick="async () => await _comments.Delete(comment.Id)">
                                    <TrashIcon />
                                </button>
                            </AuthorizeView>
                            @*@if (!admin)
                                {*@
                            <AuthorizeView Policy="Visitor">
                                @if (comment.UserName == user.Identity.Name)
                                {
                                    <button @onclick="async () => await _comments.Delete(comment.Id)">
                                        <TrashIcon />
                                    </button>
                                }
                            </AuthorizeView>
                            @*}*@

                            <p>@comment.Content</p>
                        </div>
                    }
                }
            </div>

            <!-- Add Comment -->
            <div>
                <AuthorizeView>
                    <Authorized Context="Auth">
                        <EditForm Model=@comment OnValidSubmit="() => AddComment(post.Id)">
                            <InputTextArea @bind-Value=comment.Content DisplayName="Add a comment..." />
                            <button type="submit">Comment</button>
                        </EditForm>
                    </Authorized>

                    <NotAuthorized>
                        <textarea placeholder="Login in to leave a comment..">
                        </textarea>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    }
}

@code {
    CommentVM comment;
    List<PostModel> posts;
    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        comment = new CommentVM();
        posts = await _posts.GetPosts();
        user = Auth.GetAuthenticationStateAsync().Result.User;
    }

    public async Task AddComment(int postId)
    {
        comment.UserName = user.Identity.Name;
        comment.PostModelId = postId;

        await _comments.Create(comment);
        comment = new CommentVM();
    }

    public async Task DeletePost(int postId)
    {
        await _posts.Delete(postId);
        posts = await _posts.GetPosts();
    }

    public class CommentVM
    {
        public string UserName { get; set; }

        public int PostModelId { get; set; }

        public string Content { get; set; }
    }
}