@page "/posts"

@implements IDisposable
@inject IHttpContextAccessor _http
@inject IModalService _modal
@inject AppState AppState
<!-- Add Post -->
<AuthorizeView Policy="Admin">
    <button @onclick="@(() => _modal.Show<AddPost>("Add Post", options))">Add Post</button>
</AuthorizeView>

@if (AppState.Posts == null)
{
    <p>Loading...</p>
}
else
{
    <!-- Render Posts -->
    @foreach (var post in AppState.Posts)
    {
        <div post>
            <section postInfo>
                <div>
                    <span>@post.UpdateNum</span>

                    @* Delete / Edit Post *@
                    <AuthorizeView Policy="Admin">
                        <button @onclick="async () => await ShowEditPost(post.Id)">
                            <EditIcon />
                        </button>

                        <button @onclick="async () => await AppState.DeletePost(this, post.Id)">
                            <TrashIcon />
                        </button>
                    </AuthorizeView>

                    <span>@post.Date.ToShortDateString()</span>
                </div>

                <img src=@post.ImgURL />
                <p>@post.Description</p>
            </section>

            <!-- Voting System -->
            <div comments>
                <section votes>

                    <AuthorizeView>
                        <Authorized>
                            <div>
                                <button thumbIcon upvote @onclick="async () => await AppState.UpVote(this, post.Id, username)">
                                    <ThumbsUpIcon />
                                </button>
                                <span votes>@post.UpVotes.Count</span>
                                <button thumbIcon upvote @onclick="async () => await AppState.DownVote(this, post.Id, username)">
                                    <ThumbsUpIcon />
                                </button>
                                <span votes>@post.DownVotes.Count</span>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div>
                                <span thumbIcon><ThumbsUpIcon /></span>
                                <span votes>@post.UpVotes.Count</span>
                                <span thumbIcon><ThumbsDownIcon /></span>
                                <span votes>@post.DownVotes.Count</span>
                                <span>Login in to Like / Dislike</span>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </section>

                <!-- Render Comments -->
                @if (post.Comments != null)
                {
                    foreach (var comment in post.Comments)
                    {

                        <section comment>
                            <span>@comment.UserName</span>

                            <!-- Delete / Edit Comment -->
                            <div>
                                <span>@comment.Date.ToString("MM/dd/yyyy hh:mm tt")</span>
                                <AuthorizeView Policy="Visitor">
                                    @if (comment.UserName == username)
                                    {
                                        <button @onclick="() => ShowEditComment(comment)">
                                            <EditIcon />
                                        </button>
                                        <button @onclick="async () => await AppState.DeleteComment(this, comment.Id)">
                                            <TrashIcon />
                                        </button>
                                    }
                                </AuthorizeView>

                                <AuthorizeView Policy="Admin">
                                    @if (comment.UserName == username)
                                    {
                                        <button @onclick="() => ShowEditComment(comment)">
                                            <EditIcon />
                                        </button>
                                    }
                                    <button @onclick="async () => await AppState.DeleteComment(this, comment.Id)">
                                        <TrashIcon />
                                    </button>
                                </AuthorizeView>
                            </div>

                            <p>@comment.Content</p>
                        </section>
                    }
                }

                <!-- Add Comments -->
                <section addComment>
                    <AuthorizeView>
                        <Authorized Context="Auth">
                            <EditForm Model=@comment OnValidSubmit="() => AddComment(post.Id)">
                                <InputTextArea required @bind-Value=comment.Content placeholder="Add a comment..." />
                                <button type="submit">Comment</button>
                            </EditForm>
                        </Authorized>

                        <NotAuthorized>
                            <textarea placeholder="Login in to leave a comment.."></textarea>
                        </NotAuthorized>
                    </AuthorizeView>
                </section>
            </div>
        </div>
    }
}

@code {
    CommentVM comment = new CommentVM();
    private ModalOptions options;
    private string username;

    protected override async Task OnInitializedAsync()
    {
        options = new ModalOptions()
        {
            Class = "custom-modal",
            FocusFirstElement = true,
            OverlayCustomClass = "modal-background"
        };

        username = _http.HttpContext.User.Identity.Name;

        await AppState.Refresh();
        AppState.StateChanged += async (Source)
            => await AppState_StateChanged(Source);
    }

    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source)
            => await AppState_StateChanged(Source);
    }

    private async Task AppState_StateChanged(ComponentBase source)
    {
        if (source != this)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    public async Task ShowEditComment(CommentModel comment)
    {
        var param = new ModalParameters();
        param.Add(nameof(EditComment.Comment), comment);
        await _modal.Show<EditComment>("Edit Comment", param, options).Result;
    }

    async Task ShowEditPost(int id)
    {
        var param = new ModalParameters();
        param.Add(nameof(EditPost.Id), id);
        await _modal.Show<EditPost>("Edit Post", param, options).Result;
    }

    public async Task AddComment(int postId)
    {
        comment.UserName = username;
        comment.PostModelId = postId;
        await AppState.AddComment(this, comment);
        comment = new CommentVM();
    }

    public class CommentVM
    {
        public string UserName { get; set; }

        public int PostModelId { get; set; }

        public string Content { get; set; }
    }
}